:root {
  --primary: #1a1a1a;
  --primarylight: #FFEADD;
  --primarymid: #FF8989;
  --primarydark: #FF6666;
  --white: #ffffff;
  --black: #1a1a1a;
  --blacklight: #ebebeb;

}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}

*:hover,
*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--primarymid);
}

::selection {
  color: #fff;
  background: var(--primarymid);
}

.container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 0px 50px;

}

.page-loading {
  display: flex;
  height: 100vh;
  background-color: #fff;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.page-loading .loader {
  width: 60px;
  height: 60px;
  border: 2px solid #ddd;
  border-radius: 50px;
  border-top: 2px solid black;
  animation: spiner infinite 1s ease;
}

.primarybtn,
.primarybtnactive {
  text-decoration: none;
  color: black;
  border: 1px solid var(--black);
  padding: 15px 30px;
  transform: translateY(0px);
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.primarybtnactive {
  background-color: var(--black);
  color: #fff;
}

.primarybtn:hover {
  background-color: var(--black);
  color: #fff;
  transform: translateY(-10px);
}

.primarybtnactive:hover {
  color: var(--black);
  background-color: #fff;
  transform: translateY(-10px);
}

/* product sidder  */

.react-multiple-carousel__arrow {
  z-index: 10 !important;
}

/* price range style  */
.rc-slider-track {
  background-color: #000 !important;
  height: 2px;
}

.rc-slider-rail {
  height: 2px;
}

.rc-slider-handle {
  margin-top: -6px;
  background-color: #fff;
  border: solid 2px #141414;
  opacity: 1;
  cursor: pointer;
}

.rc-slider-handle:hover {
  border-color: #141414;
}

.rc-slider-handle:active {
  border-color: #141414;
  box-shadow: 0 0 5px #aaaaaa;

}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #141414;
  box-shadow: 0 0 0 5px #646464;
}


/* product slides  */

.carousel .thumbs-wrapper {
  margin: 15px 0px;
  overflow: hidden;
}

.carousel .thumb {
  padding: 2px;
  border: 2px solid transparent;

}

.carousel .slide {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 2px solid var(--blacklight);
}


.carousel ul .thumb img {
  width: calc(100px - 8px);
  height: calc(100px - 8px);
  object-position: center;
  object-fit: cover;
}

.carousel.carousel-slider .control-arrow {
  opacity: 0.2;
}

.carousel.carousel-slider .control-arrow:hover {
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.5);
}

/* page title  */
.pagetitletext {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: capitalize;
  display: block;
  overflow: hidden;
  max-lines: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* input box style  */
.inpbox {
  width: 100%;
  margin-top: 5px;
}

.inpbox label {
  color: #303030;
  margin: 10px 0px;
  display: block;
  font-size: 15px;
}

.input {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid var(--blacklight);
  margin-bottom: 20px;
  background-color: transparent;
}

.jodit-react-container {
  width: 100% !important;
}

@media only screen and (max-width: 750px) {
  .pagetitletext {
    margin-top: 40px;
    font-size: 20px;
  }
}


@keyframes spiner {
  100% {
    rotate: 360deg;
  }
}



@media only screen and (max-width: 1250px) {
  .container {
    max-width: 1200px;
    padding: 0px 50px;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0px auto;
  }

  .carousel .thumb {
    margin-right: 15px;
  }
}