.productslide {
    width: 500px;
}

.productimgbox {
    width: 100%;
    min-height: 500px;


}

.productimgbox .productimg {
    background-color: #f6f6f6;
    width: 100%;
    mix-blend-mode: darken;
    height: auto;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 1100px) {
    .productslide {
        width: 400px;
    }

}

@media only screen and (max-width: 900px) {
    .productslide {
        width: auto;
    }

    .productimgbox {
        height: 400px;
        min-height: 400px;
    }

    .productimgbox .productimg {
        min-height: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 550px) {
    .productimgbox {
        height: 400px;
        min-height: 400px;
    }

    .productimgbox .productimg {
        min-height: 400px;
        height: 400px;
    }
}