.bestsell {
    margin-top: 0px;
    margin-bottom: 50px;
}


.titlebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.seeall {
    text-decoration: none;
    color: var(--black);
}

.seeall::after {
    content: "";
    display: block;
    width: 0%;

    height: 2px;
    background-color: black;
    position: relative;
    transition: 0.6s;
}

.seeall:hover.seeall::after {
    width: 100%;
}

.title {
    font-weight: 400;
    text-transform: uppercase;

}

.title::after {
    content: "";
    display: block;
    width: 120px;
    margin-top: 8px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.705);
}

.productslist {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    /* Equal width for 4 columns */
    margin-top: 0px;
    padding: 20px 0px;
}

@media only screen and (max-width: 1000px) {
    .productslist {
        grid-template-columns: repeat(3, 1fr);
        /* Equal width for 4 columns */
    }
}

@media only screen and (max-width: 850px) {
    .productslist {
        grid-template-columns: repeat(2, 1fr);
        /* Equal width for 4 columns */

    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 22px;
    }

    .title::after {
        width: 150px;
    }

    .productslist {
        grid-template-columns: auto auto;
        gap: 25px 15px;
    }
}