.countbox {
    width: fit-content;
    height: 52px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    border: 1px solid var(--blacklight);
    background-color: #fff;
}

.counticon {
    cursor: pointer;
    padding: 5px;
    color: #000000;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.counticon:hover {
    opacity: 1;
}